* {
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    margin: 0;
    background-color: crimson;
}

.page {
    height: 100vh;
}

.card {
    position: relative;
    width: 500px;
    height: max-content;
    padding: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-20deg);
    color: white;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px white;
    text-align: center;
    transition: .5s;
    cursor: pointer;
}

.card:hover {
    transform: translate(-50%, -50%);
}

.card img {
    width: 100%;
    border-radius: 4px;
}

.card::before {
    position: absolute;
    content: "+";
    color: black;
    width: 20px;
    height: 20px;
    background-color: white;
    top: 0px;
    right: 0px;
    border-radius: 50%;
}

.card::after {
    position: absolute;
    content: "+";
    color: black;
    width: 20px;
    height: 20px;
    background-color: white;
    top: 0px;
    left: 0px;
    border-radius: 50%;
}

.page::before {
    content: "";
    margin: 20px auto;
    position: fixed;
    width: 250%;
    height: 100%;
    background-color: rgb(0, 85, 255);
    left: 50%;
    top: 50%;
    transform: translateX(-50%) skew(0, -20deg);
    border-radius: 50%;
    z-index: -1;
    animation: waving 5s ease-in-out infinite alternate;
}


@keyframes waving {
    from {
        transform: translateX(-50%) skew(0, -10deg);
    }

    to {
        transform: translateX(-40%) skew(10deg, 0);
    }
}